<p id="notice"><%= notice %></p>


<% cache "brewerylist#{@order}", skip_digest: true do %>

<div class="row">

  <div class="col-sm-6">
    <h1>Listing breweries</h1>
    <p> Number of active breweries: <%= @breweries.count %> </p>

    <%= render 'list', breweries: @breweries %>
  </div>
  
<% end %>

<br>

<%= link_to('New Brewery', new_brewery_path) if current_user%>

