// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new_user{
    max-width: 400px;
}

#beer_clubs {
  position: fixed;
  top: 17%;
  left: 25%;

}

#ratings {
  position: fixed;
  top: 17%;
  left: 48%;
}